    @import {
        src: url('centabel.css');
    }
    
    @import {
        src: url('Dejavu-sans.css');
    }
    
    @font-face {
        font-family: centabel;
        src: url("font/centabel.ttf");
    }
    
    @font-face {
        font-family: "Dejavu-sans";
        src: url("font/Dejavu-sans.ttf");
    }
    /* Space out content a bit */
    
    h1 {
        font-family: "Dejavu-sans";
        font-size: 24 px;
        font-weight: bold;
        text-decoration: underline;
        line-height: auto;
        display: inline;
    }
    
    p {
        font-size: 14 px;
        font-weight: normal;
        line-height: 16 px;
        display: inline-block;
        font-family: "centabel";
    }
    
    body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url('https://s3-us-west-2.amazonaws.com/bikeprovincetown.com/img/untitled.png')no-repeat right fixed;
        background-size: contain;
        background-attachment: fixed;
    }
    /* Everything but the jumbotron gets side spacing for mobile first views */
    
    .header,
    .marketing,
    .footer {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* Custom page header */
    
    .header {
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .headnew {
        background-image: url('http://bikeprovincetown.com/banner.jpg');
        background-size: cover;
    }
    /* Make the masthead heading the same height as the navigation */
    
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
    /* Custom page footer */
    
    .footer {
        padding: 19px;
        color: #777;
        border-top: 1px solid #e5e5e5;
    }
    /* Customize container */
    
    @media (min-width: 768px) {
        .container {
            max-width: 730px;
        }
    }
    
    .container-narrow>hr {
        margin: 30px 0;
    }
    /* Main marketing message and sign up button */
    
    .jumbotron {
        text-align: center;
        border-bottom: 0px solid #e5e5e5;
    }
    
    .w3-btn {
        max-width: 30%;
    }
    /* Supporting marketing content */
    
    .marketing {
        margin: 40px 0;
    }
    
    .marketing p+h4 {
        margin-top: 28px;
    }
    
    .space {
        min-height: 100px;
    }
    
    .jumbotron {
        padding-bottom: 10px;
    }
    /* Responsive: Portrait tablets and up */
    
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header,
        .marketing,
        .footer {
            padding-right: 0;
            padding-left: 0;
        }
        /* Space out the masthead */
        .header {
            margin-bottom: 30px;
        }
        /* Remove the bottom border on the jumbotron for visual effect */
        .jumbotron {
            border-bottom: 0;
        }
    }